<h1>Home</h1>

<div>
    <ul>
        <li>
            <a href="/short-time-code-demo-basic">Short time code demo basic...</a>
        </li>
        <li>
            <a href="/short-time-code-demo-advanced">Short time code demo advanced...</a>
        </li>
        <li>
            <a href="/the-page-backend/" target="_blank">The Page Backend...</a>
        </li>
        <li>
            The Page Frontend app it not linked because a single app serves multiple sites.
            It's not possible to provide a link to a random page.
            Go to the backend and open the page from there (Sites / Edit / Pages / Edit / Open Site Page)
        </li>
    </ul>
</div>
