<div class="text-center mb-4">
    <h1>Short Time Code Demo Advanced</h1>
</div>

<div class="container-fluid">
    <p>
        <div>Instructions:</div>
        <div>
            <ol>
                <li>Generate a code in client section</li>
                <li>Copy the generated code</li>
                <li>Switch to requester section</li>
                <li>Paste the code in the "Action Request receiver code" field</li>
                <li>Click "Send"</li>
                <li>Observe a request received by the client in the popup</li>
                <li>Click "Cancel" or "Confirm"</li>
                <li>Observe a response received by the requester in the popup</li>
            </ol>
        </div>
    </p>
    <div class="row">
        <div class="col-lg">
            <h2>Client</h2>
            <short-time-code-demo-advanced-client></short-time-code-demo-advanced-client>
        </div>

        <div class="col-lg">
            <h2>Requester</h2>
            <short-time-code-demo-advanced-requester></short-time-code-demo-advanced-requester>
        </div>
    </div>
</div>

<script src="/public/pages/short-time-code-demo-advanced.js" type="module" async></script>
